{% extends "layout.html" %}
{% block content %}
{{super()}}
<div class="container">
 <div class = "row">
    <h4> List of expenses for group named {{ group.name }}</h4>
    <table class="table">
	<thead class= "thead-dark">
	  <tr>
	      <th scope="col"> Who Paid</th>
	      <th scope="col"> Purpose </th>
          <th scope="col"> Amount </th>
          <th scope="col"> For Whom </th>
	  </tr>
	</thead>
	<tbody>
	  {% for expense in group.expenses %}
	  <tr>
          <td> 
	  	<a href="{{ url_for('member', username=expense.who_paid.username, _external=True) }}">
	  		{{ expense.who_paid.username }}
		</a>
	  </td>
          <td> {{ expense.purpose }} </td>
          <td> {{ expense.amount }} </td>
          <td>
          {% for member in expense.for_whom %}
	  	<a href="{{ url_for('member', username=member.username, _external=True) }}">
	  		{{ member.username }}
		</a>
	   {% endfor %}
          </td>
	  </tr>
	  {% endfor %}
	</tbody>
    </table>
    <h4> Total expenditure by group: {{ total_expenses }}</h4>
  </div>
  <div class = "row">
    <h4> Outstanding members balance for group named {{ group.name }}</h4>
    <table class="table">
	<thead class= "thead-dark">
	  <tr>
	      <th scope="col"> Member </th>
	      <th scope="col"> Balance toward group </th>
	  </tr>
	</thead>
	<tbody>
	  {% for elem in balances %}
	  <tr>
          <td> {{ elem[0] }} </td>
          <td> {{ elem[1] }} </td>
	  </tr>
	  {% endfor %}
	</tbody>
    </table>
  </div>
</div>

{% endblock %}



